body {
    width: 80%;
    margin: auto;
    font-family: sans-serif;
}

header {
    padding: 20px;
}

.choice:hover {
    cursor: pointer;
    background: red;
}

.choices {
    padding: 10px;
    transition: all 0.3s ease;
}
